Repository ar-at-localhost/vnix: changes, and which lefthook commands are due for each by the changed paths.
All: format-common, format-markdown, format-plugin, format-flake

lefthook.yml:

pre-commit:
  commands:
    format-common:
      glob: "*.{json,yml,yaml,json}"
      run: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
    format-markdown:
      glob: "*.{md,mdx}"
      run: prettier --write {staged_files}
      stage_fixed: true
    format-plugin:
      run: stylua {staged_files}
      glob: "*.lua"
      stage_fixed: true
    format-flake:
      run: alejandra {staged_files}
      glob: "*.nix"
      stage_fixed: true

fix: bad name/id for workspace template
  lua/common/types/templates.lua
  lua/nvim/handlers/create.lua
  selene.toml
Due: format-plugin

chore: configure selene
  vim.yml
  wezterm.yml
Due: format-common

fix: bad tab selected upon search (nav)
  lua/vnix/actions/switch.lua
Due: format-plugin

fix: tab navigation
  lua/common/types/state.lua
  lua/vnix/actions/nav.lua
Due: format-plugin

fix: home-manager opts
  nix/home-manager.nix
Due: format-flake

docs: updated notes / todos
  orgfiles/notes.org
Due: none

docs: fix
  orgfiles/notes.org
Due: none

chore: improve dev workflow
  .luarc.json
  lua/nvim/setup.lua
  lua/vnix/actions/debug.lua
  lua/vnix/debug.lua
  lua/vnix/init.lua
  lua/vnix/rpc.lua
  lua/vnix/startup.lua
  text.lua
  vim.yml
Due: format-common, format-plugin

chore: update flake
  flake.lock
Due: none

chore: update np
  flake.lock
Due: none

feat: improved pickers
  lua/common/types.lua
  lua/common/types/pickers.lua
  lua/common/types/rpc.lua
  lua/nvim/config.lua
  lua/nvim/fs-watch.lua
  lua/nvim/handlers/switch.lua
  lua/nvim/init.lua
  lua/nvim/pickers/init.lua
  lua/nvim/pickers/pane.lua
  lua/nvim/pickers/switch.lua
  lua/nvim/pickers/tab.lua
  lua/nvim/pickers/workspace.lua
  lua/nvim/req.lua
  lua/nvim/resp.lua
  lua/vnix/actions/debug.lua
  lua/vnix/actions/switch.lua
  lua/vnix/config.lua
  lua/vnix/debug.lua
  lua/vnix/init.lua
  lua/vnix/rpc.lua
  nix/dev/example-wezterm-config.lua
  vim.yml
Due: format-common, format-plugin

fix: improve dev workflow
  lua/nvim/config.lua
  lua/nvim/fs-watch.lua
  lua/nvim/init.lua
  lua/vnix/debug.lua
  lua/vnix/init.lua
  lua/vnix/keys.lua
  nix/dev-pkgs.nix
  nix/dev/example-wezterm-config.lua
Due: format-plugin, format-flake

refactor: improve keys module
  lua/common/tbl.lua
  lua/common/types.lua
  lua/common/types/init.lua
  lua/common/types/keys.lua
  lua/vnix/init.lua
  lua/vnix/keys.lua
  lua/vnix/keys/common.lua
  lua/vnix/keys/debug.lua
  lua/vnix/keys/init.lua
  lua/vnix/keys/nav.lua
  lua/vnix/keys/pane.lua
  lua/vnix/keys/specials.lua
  lua/vnix/keys/tab.lua
  lua/vnix/keys/workspace.lua
Due: format-plugin

feat: introduce swap tab keybidings
  lua/vnix/actions/nav.lua
  lua/vnix/actions/rename.lua
  lua/vnix/actions/tab.lua
  lua/vnix/config.lua
  lua/vnix/init.lua
  lua/vnix/keys/tab.lua
  lua/vnix/mux.lua
  lua/vnix/state.lua
  selene.toml
  wezterm.yml
Due: format-common, format-plugin

fix: dev reload
  .luarc.json
  lua/common/types.lua
  lua/nvim/config.lua
  lua/nvim/fs-watch.lua
  nix/dev/example-wezterm-config.lua
  selene.toml
Due: format-common, format-plugin

feat: enhanced workspace navigation
  lua/nvim/setup.lua
  lua/vnix/actions/nav.lua
Due: format-plugin

fix: dev workflow
  lua/nvim/config.lua
  nix/common.nix
  nix/dev-pkgs.nix
Due: format-plugin, format-flake

feat: init org
  .luarc.json
  flake.nix
  lua/common/str.lua
  lua/common/time.lua
  lua/common/types.lua
  lua/common/types/debug.lua
  lua/common/types/init.lua
  lua/common/types/org.lua
  lua/common/types/pickers.lua
  lua/common/types/rpc.lua
  lua/nvim/config.lua
  lua/nvim/handlers/debug.lua
  lua/nvim/init.lua
  lua/nvim/org.lua
  lua/nvim/org/headline.lua
  lua/nvim/org/helpers.lua
  lua/nvim/pickers/init.lua
  lua/nvim/pickers/org/tasks.lua
  lua/nvim/pickers/switch.lua
  lua/nvim/setup.lua
  lua/nvim/state.lua
  lua/vnix/actions/status-bar.lua
  lua/vnix/bootstrap.lua
  lua/vnix/debug.lua
  lua/vnix/rpc.lua
  lua/vnix/startup.lua
  nix/common.nix
  nix/dev-pkgs.nix
  nix/dev/example-wezterm-config.lua
  nix/nixvim.nix
  orgfiles/notes.org
  wezterm.yml
Due: format-common, format-plugin, format-flake

fix: user data escape doesn't work in the background
  lua/common/types.lua
  lua/common/types/init.lua
  lua/common/types/rpc.lua
  lua/nvim/config.lua
  lua/nvim/org.lua
  lua/vnix/actions/status-bar.lua
  lua/vnix/rpc.lua
  nix/dev-pkgs.nix
  orgfiles/notes.org
Due: format-plugin, format-flake

feat: cancel active clock
  lua/nvim/org.lua
  lua/nvim/org/headline.lua
  lua/nvim/org/helpers.lua
  lua/nvim/pickers/org/tasks.lua
  orgfiles/notes.org
Due: format-plugin

feat: org keys
  lua/common/types/rpc.lua
  lua/nvim/handlers/org.lua
  lua/nvim/req.lua
  lua/vnix/actions/org.lua
  lua/vnix/init.lua
  lua/vnix/keys/debug.lua
  lua/vnix/keys/init.lua
  lua/vnix/keys/nav.lua
  lua/vnix/keys/org.lua
  orgfiles/notes.org
Due: format-plugin

refactor: extract active clock into separate function
  lua/nvim/org.lua
  lua/nvim/org/helpers.lua
Due: format-plugin

chore: logs
  orgfiles/notes.org
Due: none

fix: uniform status line
  lua/vnix/actions/status-bar.lua
Due: format-plugin

fix: home manager build
  nix/pkgs.nix
Due: format-flake

fix: use alternate path for dev build socket
  lua/common/init.lua
  lua/common/types.lua
  lua/common/types/init.lua
  lua/vnix/bootstrap.lua
  lua/vnix/rpc.lua
  lua/vnix/startup.lua
Due: format-plugin

docs: init
  nix/nixvim.nix
  orgfiles/features.org
  orgfiles/index.org
Due: format-flake

feat: introduce org refile
  lua/common/types/pickers.lua
  lua/nvim/org/helpers.lua
  lua/nvim/pickers/init.lua
  lua/nvim/pickers/org/files.lua
  lua/nvim/pickers/org/tasks.lua
Due: format-plugin

docs: basic features
  orgfiles/features.org
Due: none

refactor: generalize pickers
  lua/nvim/handlers/org.lua
  lua/nvim/pickers/org/files.lua
  lua/nvim/pickers/org/tasks.lua
  lua/nvim/state.lua
Due: format-plugin
