Repository ar-at-localhost/vnix: changes, and which lefthook commands are due for each by the changed paths.
All: format-common, format-markdown, format-plugin, format-flake

lefthook.yml:

pre-commit:
  commands:
    format-common:
      glob: "*.{json,yml,yaml,json}"
      run: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
    format-markdown:
      glob: "*.{md,mdx}"
      run: prettier --write {staged_files}
      stage_fixed: true
    format-plugin:
      run: stylua {staged_files}
      glob: "*.lua"
      stage_fixed: true
    format-flake:
      run: alejandra {staged_files}
      glob: "*.nix"
      stage_fixed: true

fix: tasks filter
  lua/nvim/handlers/org.lua
  lua/nvim/pickers/org/tasks.lua
Due: format-plugin

fix: refile to headline
  lua/nvim/pickers/org/tasks.lua
Due: format-plugin

refactor: generalize pickers
  lua/nvim/handlers/org.lua
  lua/nvim/pickers/org/files.lua
  lua/nvim/pickers/org/tasks.lua
  lua/nvim/state.lua
Due: format-plugin

feat: init procs
  lua/common/init.lua
  lua/common/types.lua
  lua/common/types/config.lua
  lua/common/types/init.lua
  lua/common/types/pickers.lua
  lua/common/types/rpc.lua
  lua/common/types/state.lua
  lua/nvim/config.lua
  lua/nvim/fs-watch.lua
  lua/nvim/handlers/procs.lua
  lua/nvim/pickers/init.lua
  lua/nvim/pickers/procs.lua
  lua/nvim/req.lua
  lua/vnix/actions/procs.lua
  lua/vnix/actions/state.lua
  lua/vnix/actions/status-bar.lua
  lua/vnix/init.lua
  lua/vnix/keys/common.lua
  lua/vnix/mux.lua
  lua/vnix/rpc.lua
  lua/vnix/startup.lua
  lua/vnix/state.lua
  nix/dev/example-vnix-specs.json
Due: format-common, format-plugin

fix: procs fallback to quit vnix
  lua/vnix/config.lua
  lua/vnix/startup.lua
Due: format-plugin

refactor: org/proc options
  lua/common/state.lua
  lua/common/templates/workspaces.lua
  lua/common/types.lua
  lua/common/types/init.lua
  lua/common/types/rpc.lua
  lua/common/types/runtime.lua
  lua/common/types/specs.lua
  lua/nvim/config.lua
  lua/nvim/fs-watch.lua
  lua/nvim/handlers/org.lua
  lua/nvim/handlers/procs.lua
  lua/nvim/handlers/switch.lua
  lua/nvim/org.lua
  lua/nvim/pickers/org/files.lua
  lua/nvim/pickers/org/tasks.lua
  lua/nvim/pickers/procs.lua
  lua/nvim/state.lua
  lua/vnix/actions/kill.lua
  lua/vnix/actions/org.lua
  lua/vnix/actions/procs.lua
  lua/vnix/activity.lua
  lua/vnix/config.lua
  lua/vnix/keys/org.lua
  lua/vnix/mux.lua
  lua/vnix/state.lua
  nix/dev-pkgs.nix
  nix/dev/example-vnix-specs.json
  nix/dev/orgfiles/notes.org
  nix/dev/orgfiles/tasks.org
  nix/home-manager.nix
Due: format-common, format-plugin, format-flake

docs: bugs / tasks
  orgfiles/notes.org
Due: none

fix: procs progress
  lua/common/types/init.lua
  lua/nvim/pickers/procs.lua
  lua/vnix/actions/procs.lua
  lua/vnix/config.lua
  lua/vnix/startup.lua
  lua/vnix/state.lua
Due: format-plugin

fix: exclusive clocking
  lua/nvim/handlers/org.lua
  lua/nvim/org/headline.lua
  lua/nvim/org/helpers.lua
  lua/nvim/pickers/org/tasks.lua
Due: format-plugin

fix: procs progress
  lua/common/types/rpc.lua
  lua/nvim/handlers/org.lua
  lua/nvim/org.lua
  lua/nvim/org/headline.lua
  lua/nvim/pickers/org/tasks.lua
  lua/nvim/pickers/procs.lua
  lua/vnix/actions/status-bar.lua
  lua/vnix/rpc.lua
Due: format-plugin

feat: init lazy loading
  lua/common/templates/workspaces.lua
  lua/common/types/rpc.lua
  lua/common/types/runtime.lua
  lua/nvim/pickers/pane.lua
  lua/nvim/pickers/switch.lua
  lua/vnix/actions/nav.lua
  lua/vnix/actions/procs.lua
  lua/vnix/actions/rename.lua
  lua/vnix/actions/state.lua
  lua/vnix/actions/status-bar.lua
  lua/vnix/actions/switch.lua
  lua/vnix/keys/nav.lua
  lua/vnix/mux.lua
  lua/vnix/rpc.lua
  lua/vnix/startup.lua
  lua/vnix/state.lua
  nix/dev/example-vnix-specs.json
  orgfiles/notes.org
Due: format-common, format-plugin

feat: lazy loading statues
  lua/common/types/runtime.lua
  lua/nvim/pickers/pane.lua
  lua/nvim/pickers/switch.lua
  lua/nvim/pickers/tab.lua
  lua/nvim/pickers/workspace.lua
  lua/vnix/actions/state.lua
Due: format-plugin

fix: launch Vnix maximized
  lua/vnix/mux.lua
  lua/vnix/startup.lua
Due: format-plugin

fix: procs lifecylce
  lua/common/types.lua
  lua/common/types/init.lua
  lua/common/types/pickers.lua
  lua/common/types/rpc.lua
  lua/common/types/runtime.lua
  lua/nvim/config.lua
  lua/nvim/fs-watch.lua
  lua/nvim/handlers/procs.lua
  lua/nvim/handlers/switch.lua
  lua/nvim/init.lua
  lua/nvim/pickers/init.lua
  lua/nvim/pickers/pane.lua
  lua/nvim/pickers/procs.lua
  lua/nvim/pickers/switch.lua
  lua/nvim/pickers/tab.lua
  lua/nvim/pickers/workspace.lua
  lua/nvim/req.lua
  lua/nvim/state.lua
  lua/vnix/actions/create.lua
  lua/vnix/actions/dashboard.lua
  lua/vnix/actions/debug.lua
  lua/vnix/actions/inspect.lua
  lua/vnix/actions/kill.lua
  lua/vnix/actions/nav.lua
  lua/vnix/actions/org.lua
  lua/vnix/actions/pane.lua
  lua/vnix/actions/procs.lua
  lua/vnix/actions/rename.lua
  lua/vnix/actions/state.lua
  lua/vnix/actions/status-bar.lua
  lua/vnix/actions/switch.lua
  lua/vnix/actions/tab.lua
  lua/vnix/actions/ui.lua
  lua/vnix/activity.lua
  lua/vnix/init.lua
  lua/vnix/rpc.lua
  lua/vnix/startup.lua
  lua/vnix/state.lua
  nix/dev/example-vnix-specs.json
  nix/home-manager.nix
Due: format-common, format-plugin, format-flake

docs: update tasks
  orgfiles/notes.org
Due: none

fix: org tasks picker
  lua/common/tbl.lua
  lua/nvim/handlers/org.lua
  lua/nvim/pickers/org/tasks.lua
  orgfiles/notes.org
Due: format-plugin
